{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
        href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Open+Sans:wght@400;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <title>ABO ELFTOH|HOME</title>
</head>
<body>
   
  <div class="header"> 
    <ul>
        <li><a href="{% url 'home'%}">الصفحة الرئيسية</a></li>
        <li><a href="{% url 'reservation'%}">الحجز</a></li>
        <li><a href="{% url 'signin' %}">تسجيل الدخول</a></li>

        {% if user.is_authenticated%}
        <li><a href="/admin">الأدمن</a></li>
        <li><a href="{% url 'signout' %}">تسجيل الخروج</a></li>
        {%endif%}
    </ul>
  </div>
  <div>
    <img class="logo" src="{% static 'images/1.jpg'%}">
  </div>